pkgbase = xfce-panel-launcher
	pkgdesc = Full-screen application launcher plugin for XFCE panel, similar to macOS Launchpad
	pkgver = 0.3
	pkgrel = 1
	url = https://github.com/Axis0S/xfce-panel-launcher
	arch = x86_64
	arch = i686
	license = GPL3
	makedepends = pkg-config
	makedepends = gcc
	makedepends = make
	depends = xfce4-panel
	depends = gtk3
	depends = libxfce4util
	depends = glib2
	source = xfce-panel-launcher-0.3.tar.gz::https://github.com/Axis0S/xfce-panel-launcher/archive/v0.3.tar.gz
	sha256sums = SKIP
	validpgpkeys = A1929394DC6BC602A765495562F091E70A090877

pkgname = xfce-panel-launcher
